@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f4f5f6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d6d6d6;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(147 197 253);
}

.splash-screen {
  background-image: url("../assets/splash-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash-button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgb(147 197 253);
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
  isolation: isolate;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
}
.splash-button::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 0;
  background-color: white;
  transition: all 0.25s ease;
  z-index: -1;
}
.splash-button::after {
  content: "\279C";
  width: 0px;
  transition: all 0.25s ease;
  overflow: hidden;
}

.splash-button:hover {
  color: rgb(147 197 253);
  padding: 10px 40px;
  border-color: rgb(147 197 253) !important;
}
.splash-button:hover::before {
  height: 100px;
}
.splash-button:hover::after {
  font-size: inherit;
  width: 20px;
  margin-left: 10px;
}
